<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Synonym</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
<div class="content">
  <%= yield %>
</div>
<div class="footer">
  <p class="cpy">Copyright &#xA9; 2015 Reid Netterville III</p>
</div>
</body>
</html>

